:root {
    --prim: #054a05;
    --background: #F9F9F9;
    --text: #222;
    --borderRad: 40px;
    --boxShad: 0 4px 4px #22222260;
}

*,*::before,*::after {
    margin: 0;
    color: var(--text);
}

html {
    box-sizing: border-box;
    font-family: Radio Canada, sans-serif;
}
body {
    margin: 0;;
}

header {
    background-color: var(--prim);
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: var(--boxShad);
}
h1 {
    color: var(--background);

}
main {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
    width: min(80%,25rem);
    margin: 1rem auto;
    align-items: center;
}
form div {
    display: flex;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.6rem;
    justify-content: space-between;
    width: 100%;
}


h2 {
    text-align: center;
}

label {
    border: 2px solid var(--text);
    display: flex;
    border-radius: var(--borderRad);
    padding: 1em;
    width: 20%;
    justify-content: center;
    box-shadow: var(--boxShad);
}

select {
    border: solid 2px var(--text);
    padding: 1em;
    width: 60%;
    border-radius: var(--borderRad);
    box-shadow: var(--boxShad);
    text-align: center;

    padding: 5px 35px 5px 5px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('https://api.iconify.design/bx/chevron-down.svg?height=28') 96% / 15% no-repeat #eee;
}


button {
    background-color: var(--prim);
    color: var(--background);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: var(--borderRad);
    margin-top: 2.5rem;
    font-weight: bold;
    width: 55%;
    cursor: pointer;
}
#locationErr, #typeErr, #methodErr, #offerErr {
    display: none;
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    margin: -1rem auto 0;
}
option:disabled {
    display: none;
}
  
