:root {
    --prim: #4159E0;
    --text: #222;
    --borderRad: 40px;
    --boxShad: 0 4px 4px #22222260;
    --background: #f9f9f9;
} 

*,*::before,*::after {
    margin: 0;
    color: var(--text);
}
html {
    box-sizing: border-box;
    font-family: Radio Canada, sans-serif;
}
*:focus {
    outline: red solid 4px;
}
body {
    margin: 0;;
    background-color: var(--background);
}
header {
    background-color: var(--prim);
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
    font-size: 1.2rem;
    box-shadow: var(--boxShad);
    margin-bottom: 2rem;
}
h1 {
    color: var(--background);
}
h2 {
    text-align: center;
    margin-bottom: 3rem;
}
.explenation h3 {
    margin: 3rem auto 1rem;
} 
#main {
    display: flex;
    flex-direction: column;
}
main {
    min-height: calc(100vh - 13rem);
}
.explenation {
    padding: 2rem;
    margin: auto;
    margin-bottom: 2rem;
}
.explenation p {
    max-width: 650px;
}
a {
    color: var(--prim)
}
.searchArea h2 {
    margin-bottom: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;
    width: 90%;
    justify-content: center;
}
form div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0.6rem;
    justify-content: space-between;
    width: 90%;
    gap: 1em;
    margin-bottom: 1rem;
    align-items: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    margin-top: 1rem;
    padding: 0;
}
legend {
    font-weight: 800;
    position: relative;
    left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
div>label {
    border: 2px solid #4159e0;
    border-radius: var(--borderRad);
    background-color: #FFF;
    box-shadow: var(--boxShad);
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    width: 80%;
    font-weight: 600;
    
}
.checkboxes>div {
    flex-direction: row;
    justify-content: center;
}
.checkboxes>div>input {
    height: 1.75rem;
    width: 1.75rem;
}
.checkboxes>div>label {
    border-width: 3px;
    width: 70%;
}
.searchArea select {
    background: url('https://api.iconify.design/bx/chevron-down.svg?height=28') 96% / 15% no-repeat;
    padding: 5px 35px 5px 5px;
    height: 100%;
}
.searchArea select, textarea, input:not(input[type="checkbox"],input[type="range"]) {
    border: solid 4px #4159E0;
    background-color: #FFF;
    border-radius: var(--borderRad);
    box-shadow: var(--boxShad);
    text-align: center;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;  
    appearance: none;
    width: 80%; 
}
input {
    height: 2rem;
}
button {
    background-color: var(--prim);
    color: var(--background);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: var(--borderRad);
    font-weight: bold;
    width: 55%;
    cursor: pointer;
    margin-top: 1rem;
}
button.tag.offerTag, button.tag.netTag {
    background-color: #FFF0;
    font-size: unset;
    width: unset;
    margin: 0;
} 
#locationErr, #typeErr, #methodErr, #offerErr, #searchErr, #descrErr, #naamErr, #reviewErr {
    display: none;
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    margin: -1rem auto 0;
}
option:disabled {
    display: none;
}
label> abbr.optional {
    color: #888;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}
label>abbr.required, legend>abbr.required {
    color: red;
    text-decoration: none;
} 
.results, #form2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.reviewList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.results h2, .reviewList h3 {
    text-align: left;
    margin-bottom: 1rem;
}
.results button {
    margin: 1rem auto 2rem;
}
.results .result, .reviewList .review {
    margin: 2rem auto;
    position: relative;
    width: 75%;
    box-shadow: 0 4px 4px 0 #00000082;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #FFF;
    transition: 0.3s ease-in-out;
}
.results .result:hover, .reviewList .review:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.results .result.noResults p, .results .result.noResults h2 {
    text-align: center;
    margin: 1rem auto;
}
.tags {
    display: flex;
    gap: 3px;
    position: relative;
    top: -0.5rem;
}
.tag {
    display: flex;
    padding: 5px 10px;
    border-radius: var(--borderRad);
    color: var(--background);
    justify-content: center;
}
.offerTag {
    border: var(--prim) 2px solid;
    color: var(--prim);
    font-weight: bold;
}
.netTag {
    border: #db0000 2px solid;
    color: #db0000;
    font-weight: bold;
}
.rating {
    margin-top: 1rem;
}
.results h3 {
    color: #222222ad;
    top: -2.5rem;
}
.results h3::before {
    content: "°";
    color: dimgray;
}
.legends {
    display: flex;
}
.tagLegende {
    display: flex;
    align-items: center;
}
.tagLegende ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
}
.tagLegende h2 {
  margin-bottom: 0;
}
.tagLegende .tag {
    text-decoration: underline;
}
.aanbodLegende, .netLegende {
    margin: 2rem auto;
    position: relative;
    width: 50%;
    box-shadow: 0 4px 4px 0 #00000082;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #FFF;
}
.aanbodLegende[aria-hidden="false"],.netLegende[aria-hidden="false"] {
    display: block;
}
.aanbodLegende[aria-hidden="true"],.netLegende[aria-hidden="true"]{
    display: none;
}
.aanbodLegende ul, .netLegende ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    align-items: center;
}
.aanbodLegende ul span, .netLegende ul span {
    margin-right: 1rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aanbodLegende ul li, .netLegende ul li {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
}
.leaveAReview {
    display: none;
    color: var(--prim);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
}
.result:hover > .leaveAReview,
.result:focus > .leaveAReview,
.result:focus-within > .leaveAReview{
    display: block;
}

.hidden {
    display: none !important;
    overflow: hidden;
}
#form2, #form3, #webFormRes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--background);
}
#webFormRes {
    overflow: scroll;
    justify-content: unset;
 }
#form3 {
    padding: 2rem 0;
}
#form3 input {
    height: 2rem;
}

.description, #review {
    margin: 1rem 0;
}

#form2 form, #form3 form{
    margin: 0 auto;
}

.close {
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid black;
    padding: 2px;
    position: relative;
    order: -1;
    left: 40%;
}

#form2 .close::before, #form3 .close::before {
    content: "Close";
    display: block;
    color: black;
}

#form2 label, #form3 label {
    margin: 1rem 0 1rem;
    font-weight: 900;
}

#form2 button, #form3 button {
    width: 80%;
    margin: 3rem 0 1rem;
 }
output:nth-child(6), output:nth-child(9) {
    position: relative;
    left: 30%;
}
textarea {
    height: 6rem;
    padding: 1rem;
    width: 73%;
}

#score, #scoreWeb {
    height: 3rem;
    width: 60%;
    margin: 0 1rem;
}
.rating span::after {
    position: absolute;
    content: url('https://api.iconify.design/ant-design/star-filled.svg?color=%23222&height=18');
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--prim);
    padding: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;

}
footer p {
    font-weight: bold;
    color: var(--background);
}
footer #writeWebRev {
    background-color: var(--background);
    color: var(--text);
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem 1rem;
    width: auto;
}

.reviewList {
    width: 80%;
}
.reviewList .review {
    margin: 1rem auto;
}
.datum {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
#webFormRes>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip-to-content-link {
    left: 50%;
    position: absolute;
    transform: translateY(-6000%);
}
.skip-to-content-link:focus {
    transform: translateX(-50%);
}



@media (min-width: 500px){
    form {
        width: min(80%,40rem);
        margin: 1rem auto;
    }
    form div {
        flex-direction: row;
        width: 100%;
    }
    select, input {
        width: 60%;
        margin: 0 1rem;
    }
    .searchArea {
        height: 100%;
    }
    div > label {
        padding: 0.75em;
        width: 25%;
        text-align: center;
    }
    input {
        height: 90%;
    }
    .tags {
        position: absolute;
        right: 1rem;
        top: 1rem;
        flex-direction: column;
    }

    .results h2 {
        max-width: 80%;
    }

    .checkboxes {
        width: 100%;
        flex-direction: row;
    }

    footer {
        flex-direction: row;
    }
}
@media (min-width: 700px) {
    #results {
        width: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .results .result {
        max-width: 40%;
    }
}